[BlobstoreTest]

# the path to the Minio executable to use. The Minio version must be at least 2019-05-14T23-57-45Z.
test.minio.exe=minio

# the path to the MongoDB executable to use.
test.mongo.exe=mongod

# whether to use the wired tiger storage engine for MongoDB. 'true' means yes, anything else means
# no.
test.mongo.wired_tiger=false

# The path to the kbase auth2 service shadow test jar
test.auth2jar=

# Where to store temporary files generated during the test.
test.temp.dir=temp_test_dir

# Whether test files should be discarded after testing is complete.
# Anything other than 'false' is considered true.
test.delete.temp.dir=true